.row
  .col-md-12
    - if !user_signed_in?
      %h3 Hello there!
      = link_to "sign in", new_user_session_path
.row
  .col-md-6
    %table.posts
      %tr
        - @posts.each do |p|
          %tr
            %td.main
              = link_to "#{p.title.titleize}", post_path(id: p.id)
              .indexbody
                = p.body
              .photo
  .col-md-5
    .hotel_finder
