.test
  %h3.postbody=@post.title
  .postbody.text_primary
    %post.text-primary= @post.body
  - @post.comments.each do |c|
    %h5.comment
      %small Comment:
      #{c.body}
  = link_to 'add comment', comments_add_path(post: @post)
  %button.btn
    = link_to "home", posts_path
  %hr
