// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posttitle { 
	color: #800000;
	font-weight: bold;
	padding-top: 0.5em;

	form {
					textarea {
						color: #338;
					}
	}

}

.postbody {
	padding-left: 1em;

}

h5.comment {
	padding-left: 2em;
}
