// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posttitle {
	color: #800000;
	font-weight: bold;
	padding-top: 0.5em;
}

.page-header {
  background-color: lightgray;
  padding: 0.2em 0em 0.5em 2em;
}

.commentor {
  padding-left: 1em;
  width: 20em;
  font-weight: 500;
}

.commentdate{
  position: absolute;
  left: 20em;
  font-weight: 500;
}

#comment{
  position: static;
  outline: #cbf6ff solid 1px;
  margin: 0.5em 1em 0.5em 1em;
  padding: 0.5em 1em 0.5em;
  box-shadow: 3px 3px 10px #a6a6a6;
}

#commit{
	position: relative;
	left: 2em;
}

.post{
  div:nth-of-type(odd) {background-color: #fcfcfc;}
  div:nth-of-type(even) {background-color: #eee;}
}

.postbody {
	padding-left: 0em;
}

.comment {
  position: static;
  top: 3em;
	padding-left: 1em;
}

#comment_body {
	margin-bottom: 1em;
	margin-top: 0.5em;
  box-shadow: 3px 3px 10px #a6a6a6;
	position: relative;
	left: 2em;

}

textarea {
				width: 150px;
				height: 70px;
				margin-bottom: 1em;
				padding-bottom: 1em;
}

.smalltext {
  font-weight: normal;
  font-size: 12;
}

table.posts{
  tr:nth-child(even) {background-color: #d5eef6}
  tr, td{
    padding: 5px 0 5px 0.5em;
  }
  width: 100%;
  tr{
    th{
      font-weight: normal;
      font-size: 12px;
      height: 30px;
      vertical-align: bottom;
      border-bottom: 1px solid #ccc;
      padding-left: 0.5em;
    }
    td.main{
      font-size: 12px;
      font-weight: bold;
    }
    td.admin{
      font-size: 10;
      font-weight: normal;
    }
  }
}
